<!DOCTYPE html>
<html>
<head>
    <title>Employee Profile</title>
</head>
<body>
    <h1>My Employee Profile</h1>

    <p>Username: {{ employee.user.username }}</p>

    <p>Email: {{ employee.user.email }}</p>

    <p>Department: {{ employee.department }}</p>

    {% if employee.profile_image %}
        <img src="{{ employee.profile_image.url }}" width="150">
    {% endif %}

    <br><br>

    <a href="{% url 'edit_profile' %}">Edit Profile</a>

    <br><br>

    <a href="{% url 'employee_profile' %}">My Profile</a>

    <br><br>

    <a href="{% url 'logout' %}">Logout</a>

</body>
</html>